@import "vars";

// RESET
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, cite, code, em, font, img, q, s, strong, sub, sup, b, i, center, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

// GENERAL
html, body {
	height: 100%;
	position: relative;
}
body {
	font: {
		family: $general-font;
		size: 14px;
	}
	line-height: 17px;
	color: #555555;
	background-color: #f5f6f8;
	margin: 0px;
	overflow: hidden;
	-webkit-user-select: none;
	user-select: none;
	display: none;
}

a, a:link, a:hover, a:visited, a:active {
	color: #129AD6;
	text-decoration: underline;
}

input {
	vertical-align: middle;
}

// INSTALLER
#main {
	height: 100%;
	width: 100%;
	visibility: hidden;

	#leftContent {
		float: left;

		#showStagesLeft {
			display: none;
		}

		#onlyHtmlLeft {
			#VENDOR_LOGO {
				width: 140px;
				height: 50px;
				display: none;
				margin: 140px 0 0 37px;
				background-repeat: no-repeat
			}
		}

	}

	#pageTitle {
		display: none;
	}

	#content {
		height: 100%;
		position: relative;
		overflow: hidden;
		background: {
			color: #f5f6f8;
			size: 100% 100%;
			position:center;
			repeat: no-repeat;
		}

		.installerPage {
			z-index: 10;
			position: relative;
			padding: 10px;

			.endTextContainer {
				width: 350px;
				font-size: 17px;
				text-align: center;
				margin: 30px auto;
				line-height: 25px;
			}

			/* Log */
			.install_log {
				display: none;
			}

			&#welcomePage {
                background-image: url("../images/welcome_BG.png");
				margin-top: -130px;
                padding: 40px;
                background-size: cover;

				.welcomeTextContainer {
					margin: 0;

					#WELCOME_TITLE {
						color: white;
						height:100%;
						margin:0 auto 20px;
						padding-top: 45px;
						line-height: 21px;
						text-align: center;
						font: {
							size: 17px;
							weight: 100;
						}
					}

					#PRODUCT_LINKS {
						position: absolute;
						text-align: center;
						display: block;
						margin: 10px 0 0;
						font-size: 10px;

						> span {
							padding: 0 5px;
							border-right: 1px solid rgba(0,0,0,.15);
							display: none;
						}

						> span:not([style*="display: none"]):last-child {
							border-right: none;
						}
					}
				}

				#welcome_app_name {
					color:white;
					font-size: 50px;
					// visibility: hidden;
					display: inline-block;
				}

				#secondLineProName {
					margin-top: 32px;
				}

				#welcome_ver{
					font-size: 12px;
				}

				#welcomeLogoContainer {
					width: 538px;
					height: 100px;
				}

				#WELCOME_PROD_LOGO {
					max-width: 538px;
					max-height: 120px;
					float: left;
				}

				.welcomeDescription {
					height: 45px;
					line-height: 23px;
					margin-bottom: 10px;
					font: {
						size: 15px;
						weight: 100;
					}

					#PRODUCT_DESCRIPTION {
						width: 380px;
						margin: 0 auto;
						padding-top: 12px;
						font-size: 15px;
						text-align: center;
					}

					#WELCOME_TEXT_DESCRPITION {
						position: fixed;
						bottom: 40px;
					}

					#PRODUCT_DESCRIPTION, #WELCOME_TEXT_DESCRPITION {
						line-height: 1.4;
						overflow: hidden;
						height: 4.2em;
					}
				}
			}

			&#licensePage {
				font-size: 11px;

				#LICENSE_TITLE {
					font: {
						size: 15px;
						weight: bold;
					}
					margin-bottom: 8px;
				}

				#LICENSE_EULA_CONTAINER {
					width: 528px;
					height: 230px;
					border: 1px solid #e5e5e5;
					padding: 0px;
					overflow-y: scroll;
					margin-bottom: 10px;
				}
			}

			&#bundlePage{
				height: 100%;

				#slot_main {
					height: 260px;
					width: 560px;
					top: 50%;
					-webkit-transform: translateY(-50%);
					position: relative;
					display: none;

					> div {
						margin-top: 0;
					}
				}
				#slot_finish {
					width: 555px;
					height: 305px;
					margin: 0 auto;
					display: none;
				}
				#bundleLoader, #bundleLoader2, #bundleFinishLoader {
					background: url(../images/Loader.gif) repeat-x;
					height: 75px;
					position: relative;
					@extend %central;
					width: 110px;
					z-index: 30;
				}
			}
			&#progressPage {

				#progressInfo {
					width: 400px;
					margin: 20px auto;
					position: relative;
					#installingLabel {
						margin: 0;
						display: inline-block;

						#PROGRESS_TITLE {
							margin-left: 0;
							font-size: 12px;
							color:#808080;
						}
					}

					.installingInfo {
						margin: 0;
						float: right;
						font-size: 12px;
						color:#808080;
					}

					#progress {
						position: relative;
						width: 100%;
						margin: 10px auto;
						height: 7px;

						.progressBar {
							position: absolute;
							border-radius: 3px;
							box-sizing: border-box;
							top: 0;
							left: 0;
							height: 100%;
							margin: 0;

							&#installingProgressContainer {
								width: 100%;
								background-color: #E8E8E8;
								border: 1px solid #D0D0D1;
							}

							&#installingProgressProgress {
								border: 1px solid #5B9ADB;
								background-color: #62AAF6;
								width: 0%;
								max-width: 100%;
							}
						}
					}

					#installingAnimation {
						margin: 0;
						position: absolute;
						@extend %centerMeDaddy;
						top: 0;
						display: none;

						.installingAnimation{
							color:#999999;
							font: {
								weight: normal;
								style: normal;
								size: 24px;
							}
							text-decoration:none;
							float:left;
							-webkit-animation: bounce_installingAnimation 2s linear infinite;
							-webkit-transform:scale(.5);
						}
					}
				}

				#progressBannerAd{
					@extend %centerMeDaddy;
					position: relative;
					display: inline-block !important;
				}
			}

			&#finishPage {

				.endTextContainer {
					margin: 80px auto 0;
				}

				#FINISH_TITLE {
					font-size: 12px;
					text-align: center;
					margin-bottom: 10px;
					line-height: 15px;
				}

				.finishImage {
					text-align: center;
				}

				#SUCCESS_LOGO{
					height:110px;
					width:115px;
					display: inline-block;
					background: url(../images/Success.png) no-repeat;
				}
			}

			&#errorPage {
				#ERROR_LOGO{
					height:110px;
					width:115px;
					display: inline-block;
					background: url(../images/Error.png) no-repeat;
				}

				#ERROR_TITLE{
					font-size: 12px;
					text-align: center;
					line-height: 15px;
				}
			}
		}
	}

	#opacityCreator, footer {
		display: block;
	}

	#opacityCreator {
		width: 100%;
		height: 100%;
		background-color: #f5f6f8;
		opacity: 0.9;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 0;
	}

	&.onlyHTML {

		/********** Left Panel **********/
		#leftContent {
			width: 217px;
			height: 398px;
			background:#e6e6e6;
			border-right:1px solid #c7c7c7;

			#MAIN_PRODUCT_LOGO {
				width: 158px;
				height: 158px;
				margin: 20px 0 0 32px;
				display: block;
				visibility: hidden;
				background-repeat: no-repeat;
			}

			#VENDOR_LOGO {
				width: 140px;
				height: 50px;
			}
		}

		#content {
			.installerPage {
				height: 100%;

				&#welcomePage {
                    background-image: url("../images/welcome_BG.png");
					margin-top: 0;
					box-sizing: border-box;

					#WELCOME_TITLE {
						padding-top: 0;
					}

					#welcomeLogoContainer {
						display: none;
					}

					.welcomeDescription {
						height: auto;
						margin-bottom: 0;
						#PRODUCT_DESCRIPTION {
							padding-top: 0;
							margin-bottom: 15px;
						}
						#WELCOME_TEXT_DESCRPITION {
							position: relative;
							bottom: initial;
							font-size: 13px;
							padding-top: 25px;
							opacity: 0.5;

							&:before {
								content: '';
								position: absolute;
								top: 13px;
								@extend %centerMeDaddy;
								height: 1px;
								width: 80%;
								border-bottom: 1px solid white;
								background: rgba(0, 0, 0, 0.25);
							}
						}
					}


					#PRODUCT_LINKS {
						bottom: 0;
						@extend %centerMeDaddy;
						width: 90%;
					}
				}

				&#licensePage {
					padding: 23px 0 0 30px;
				}

				&#progressPage {
					#progressContainer {
						display: table;
						width: 400px;
						height: 100%;
						margin: 0 auto;

						.aligner {
							display: table-row;
						}
						#progressInfo {
							display: table-cell;
							vertical-align: middle;

							#installingAnimation {
								top: 50%;
								transform: translate(-50%, -50%);
							}
						}
					}
				}

				&#finishPage {
					text-align: center;
					#finishContainer {
						height: 100%;
						width: 100%;
						display: inline-block;
						padding-top: 40px;
						box-sizing: border-box;
						$adbox-width: 300px;

						#finishTextContainer {
							width: -webkit-calc(100% - #{$adbox-width});
							margin: 0;
							display: inline-block;
							position: relative;
							top: 50px;

							#FINISH_DESC {
								word-break: break-word;
							}
						}

						#finishBannerAd {
							float: right;
						}
					}

				}
			}
		}
	}

	&.showStages {
		background: #e6e6e6 url(../images/BG.png) no-repeat;
		float: left;
		background-size: cover;
		background-position: center bottom;
		box-sizing: border-box;

		/********** Left Panel **********/
		#leftContent {
			width: 158px;
			height: 410px;
			margin-top: 10px;

			#onlyHtmlLeft {
				display: none;

				#VENDOR_LOGO {
					width: 147px;
					height: 27px;
				}
			}

			#showStagesLeft {
				margin: 20px 0 0 20px;
				float: left;
				display: block;

				.stagesContainer {
					float: left;
					clear: both;
					margin-top: 13px;

					> * {
						float: left;
					}
				}

				.stagesDots {
					width: 17px;
					height: 16px;
					margin-right: 8px;
					background-size: 85% !important;
					background-position: center center !important;
					transform: translateY(3px);
				}

				.currentStage {
					font-weight: 700;

					.stagesDots {
						background: url(../images/DotBlue.tiff) no-repeat;
					}
				}

				.passStage {
					font-weight: 700;

					.stagesDots {
						background: url(../images/DotGray.tiff) no-repeat;
					}
				}


				.disabledStage {
					font-weight: 400;

					.stagesDots {
						background: url(../images/DotGrayDisabled.tiff) no-repeat;
					}
				}
			}
		}

		#pageTitle {
			margin-top: 10px;
			font-weight: 700;
			display: block;
		}

		#content {
			opacity: 0.8;
			margin: 6px 20px 0 0;
			border: 1px black solid;

			.installerPage {

				&#welcomePage {
                    background-image: url("../images/welcome_BG.png");
					#PRODUCT_LINKS {
						top: 466px;
						left:41px;
                        text-align: left;
                        a {
                            color:white;
                        }
					}
				}

				&#licensePage {

					#LICENSE_EULA_CONTAINER {
						height: 210px;
					}
				}

				&#bundlePage{
					#slot_main{
						margin: 0 auto;
					}
				}
			}
		}

		footer {
			#bottomPanel {
				width: -webkit-calc(100% - 158px);

				#controlButtons {
					padding-left: 0;
				}
			}
		}
	}

	&.showTitle {
		height: 365px;
		width: 566px;

		#leftContent {
			#VENDOR_LOGO {
				width: 211px;
				height: 88px;
				margin: 22px 0 0 3px;
			}
		}

		#content {

			.installerPage {

				&#welcomePage {
                    background-image: url("../images/welcome_BG.png");
					.welcomeTextContainer {
						margin: 20px 0 0 0;
						color: #999;
					}

					#welcome_app_name{
						color:white;
						font-size:53px;
					}

					#secondLineProName {
						margin-top: 0;
					}

					#PRODUCT_DESCRIPTION {
						width: 0;
						padding-top: 0;
					}

					#PRODUCT_LINKS {
						top:370px;
						left:0px;
						width:592px;
					}

					#WELCOME_TITLE {
						padding-top: 85px;
						line-height: 23px;
					}
				}

				&#licensePage {
					#LICENSE_TITLE {
						font-size: 12px;
					}
				}

				&#bundlePage{
					#slot_finish {
						margin: 7px 0 0 4px;
					}
				}
			}
		}
	}
}

footer {
	#bottomPanel {
		width: -webkit-calc(100% - 217px);
		height: 30px;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 1000000;

		#controlButtons {
			padding: 0 20px;

			div {
				display: block;
				font-size: 12px;
			}

			&:after {
				visibility: hidden;
				display: block;
				content: "";
				clear: both;
				height: 0;
			}
		}
	}
}
